$font-family: 'Poppins', 'Nunito-Sans', sans-serif

$h1-size-large: 2rem

$p-size: 1rem

$hover-color:  #FFF

$primary-light-text-color: #EFEFEF
$primary-dark-text-color: #333333
$secondary-text-color: #AAAAAA

$main-color: #333333


    